.side_bar{
	width: 30%;
	height: 100%;
	float: left;
}

#checkin_list{
	width: 100%;
	margin-top: 200px;
}

.divider{
	width: 1px;
	height: 100%;
	float: left;
	
	background-image: url(/images/light_alu.png);

}

.innerDivider{
	height: 100%;
	width: 100%;

	background-color: rgba(140,98,57,.3);
}